doctype html
html
  head
    link(rel="stylesheet", href="/css/semantic.min.css")
    link(rel="stylesheet", href="/css/highlight/maki.css")
    link(rel="stylesheet", href="/css/maki.css")
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700")

    script(src="/js/jquery.js")
    script(src="/js/semantic.min.js")

    style.
      .main.container {
        padding-top: 2em;
      }
      
      cite.right.floated {
        display: block;
        text-align: right;
      }

  body
    //- We can use Maki's built-in UI framework, Semantic UI, to cleanly style
    //- some basic content.  Documentation: https://semantic-ui.com
    //-
    //- Note that we're using CSS-like syntax to build the interface in HTML.
    .ui.main.text.container
      .ui.huge.segment
        blockquote “If you want to build a ship, don’t drum up the men to gather wood, divide the work, and give orders. Instead, teach them to yearn for the vast and endless sea.”
          br
          cite.right.floated — Antoine de Saint-Exupéry

      .ui.very.padded.segment
        h2.ui.header Welcome home, friend.
        p Here are some of the things you've told me are important to you.

      .ui.five.cards
        .ui.centered.card
          .content
            .description
              .ui.statistic(src="/people#online")
                .value {{count}}
                .label
                  i.slack.alt.icon
                  | online

      .ui.fluid.card
        .content
          i.right.floated.refresh.icon(on-tap="refreshChart")
          h3.header Active Users
          .description
            canvas.online.users(src="/people", filter="{ status: 'active' }")

    script(src="/assets/chart.bundle.min.js")
    script(src="/assets/app.js")
